<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>취소/교환/반품/환불</title>

    <th:block th:replace="fragments/head.html :: head"> </th:block>

    <style>
    </style>
</head>
<body>
<div class="d-flex" style="flex-direction: row">
    <div th:replace="fragments/sidebar.html :: sidebar"></div>
    <div class="contents">
        <h2>취소/교환/반품/환불</h2>
        <div class="section box">
            <table class="option">
                <tr>
                    <th>검색어</th>
                    <td>
                        <select id="search-type">
                            <option value="id">주문번호</option>
                            <option value="nickname">고객명</option>
                            <option value="">id</option>
                        </select>
                        <input type="text" id="search-value" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <th>기간</th>
                    <td>
                        <input id="after-date" type="date"> ~ <input id="before-date" type="date">
                    </td>
                </tr>
                <tr th:replace="fragments/filter/filter.html :: product"></tr>
                <tr th:replace="fragments/filter/filter.html :: pay"></tr>
            </table>
            <div class="text-center mt-4">
                <button id="search" class="btn btn-primary">검색</button>
                <button id="reset" class="btn btn-secondary">초기화</button>
            </div>
        </div>

        <div class="section box">
            <table id="ordertable">
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>주문회원</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>주문일자</th>
                    <th>입금/주문 상태</th>
                    <th>파일</th>
                    <th>사진</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script>
  $(document).ready( function () {
    var lang_kor = {
      "decimal": "",
      "emptyTable": "데이터가 없습니다.",
      "info": "_START_ - _END_ (총 _TOTAL_ 건)",
      "infoEmpty":  "0건",
      "infoFiltered": "(전체 _MAX_ 건 중 검색결과)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "_MENU_ 개씩 보기",
      "loadingRecords": "로딩중...",
      "processing": "처리중...",
      "search": "검색 : ",
      "zeroRecords": "검색된 데이터가 없습니다.",
      "paginate": {
        "first": "첫 페이지",
        "last": "마지막 페이지",
        "next": "다음",
        "previous": "이전"
      },
      "aria": {
        "sortAscending": " : 오름차순 정렬",
        "sortDescending": " : 내림차순 정렬"
      }
    };
    const PAY_STR = ["", "입금전", "추가입금대기", "입금완료", "결제완료"];
    searchList();

    $('#reset').on('click', function(){
        $('#search-value').val('');
        $('#product-none').prop('checked', true);
        $('#before-date').val('');
        $('#after-date').val('');
        $('#pay-none').prop('checked', true);
      searchList();
    })

    $('#search').on('click', function(){
      searchList();
    })

    $(document).on('click', '.btn-pay', function(){
      var id = $(this).val();
      var v = $('#select-pay-' + id + ' option:selected').val();
      $.ajax({
        url: './order/change-pay-state',
        type: 'post',
        data: {
          id: id,
          state: v
        },
        success : function(){alert('상태를 변경하였습니다.');}
      });
    })

    function searchList() {
      $("#ordertable").DataTable({
        destroy:true,
        searching:false,
        lengthChange: false,
        order: [0, "desc"],
        language: lang_kor,
        pageLength : 200,
        ajax:{
          url:"./orders",
          type :"GET",
          data: {
            searchKey: $('#search-type').val(),
            searchValue: $('#search-value').val(),
            product: $('input[name="product"]:checked').val(),
            beforeDateString: $('#before-date').val(),
            afterDateString: $('#after-date').val(),
            payState: $('input[name="pay"]:checked').val(),
            refundState: 1
          },
          dataSrc: ''
        },
        columns:[
          //{data:"ids", defaultContent: ""},
          {data:"id"},
          {data:"nickname"},
          {data:"product"},
          {data:"price"},
          {data:"orderDate"},
          {
            data:"payState",
            render: function(data, type, row, a) {
              var html = '<select id="select-pay-' + row.id + '">';
              for (var i = 1; i < PAY_STR.length; i++) {
                html += (data == i) ? '<option value="' + i + '" selected>' + PAY_STR[i] + '</option>' : '<option value="' + i + '">' + PAY_STR[i] + '</option>';
              }
              html +='</select><button class="btn-pay" value="' + row.id + '">변경</button>';
              return html;
            }
          },
          {
            data: "id",
            render: function(data, type, row) {
              return '<a href="/order/excel/' + data +'" target="_black"><i class="fa-solid fa-download icon"></i></a>'
            }
          },
          {
            data: "id",
            render: function(data, type, row) {
              return '<a href="/order/image-zip/' + data +'" target="_black"><i class="fa-solid fa-download icon"></i></a>'
            }
          }
        ]
      });
    }
  });
</script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>