<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>배송 관리</title>

    <th:block th:replace="fragments/head.html :: head"> </th:block>

    <style>
    </style>
</head>
<body>
<div class="d-flex" style="flex-direction: row">
    <div th:replace="fragments/sidebar.html :: sidebar" style="min-height:1080px;"></div>
    <div class="contents">
        <h2>배송 관리</h2>

        <div class="card-stretch h-8">
            <div class="card-stretch-item-5 p-4">
                <div class="icon-circle">
                    <i class="fa-solid fa-coins fa-2x icon-item"></i>
                </div>
                <div class="card-info">
                    <div><b>입금전</b></div>
                    <h2 class="title" th:text="${pay1Count}">0</h2>
                </div>
            </div>
            <div class="card-stretch-item-5 p-4">
                <div class="icon-circle">
                    <i class="fa-solid fa-box fa-2x icon-item"></i>
                </div>
                <div class="card-info">
                    <div><b>배송준비중</b></div>
                    <h2 class="title" th:text="${delivery1Count}">0</h2>
                </div>
            </div>
            <div class="card-stretch-item-5 p-4">
                <div class="icon-circle">
                    <i class="fa-solid fa-truck fa-2x icon-item"></i>
                </div>
                <div class="card-info">
                    <div><b>배송대기</b></div>
                    <h2 class="title" th:text="${delivery3Count}">0</h2>
                </div>
            </div>
            <div class="card-stretch-item-5 p-4">
                <div class="icon-circle">
                    <i class="fa-solid fa-truck-fast fa-2x icon-item"></i>
                </div>
                <div class="card-info">
                    <div><b>배송중</b></div>
                    <h2 class="title" th:text="${delivery4Count}">0</h2>
                </div>
            </div>
            <div class="card-stretch-item-5 p-4">
                <div class="icon-circle">
                    <i class="fa-solid fa-box-open fa-2x icon-item"></i>
                </div>
                <div class="card-info">
                    <div><b>배송완료</b></div>
                    <h2 class="title" th:text="${delivery5Count}">0</h2>
                </div>
            </div>
        </div>
        <div class="section box">
            <table class="option">
                <tr>
                    <th>검색어</th>
                    <td>
                        <select id="search-type">
                            <option value="id">주문번호</option>
                            <option value="nickname">고객명</option>
                            <option value="">id</option>
                            <option value="waybillNumber">운송장번호</option>
                        </select>
                        <input type="text" id="search-value" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <th>기간</th>
                    <td>
                        <input id="after-date" type="date"> ~ <input id="before-date" type="date">
                    </td>
                </tr>
                <tr th:replace="fragments/filter/filter.html :: product"></tr>
                <tr th:replace="fragments/filter/filter.html :: pay"></tr>
            </table>
            <div class="text-center mt-4">
                <button id="search" class="btn btn-primary">검색</button>
                <button id="reset" class="btn btn-secondary">초기화</button>
            </div>
        </div>

        <div class="section box">
            <table id="ordertable">
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>주문회원</th>
                    <th>상품명</th>
                    <th>운송장번호</th>
                    <th>주문상태</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <script>
  $(document).ready( function () {
    var lang_kor = {
      "decimal": "",
      "emptyTable": "데이터가 없습니다.",
      "info": "_START_ - _END_ (총 _TOTAL_ 건)",
      "infoEmpty":  "0건",
      "infoFiltered": "(전체 _MAX_ 건 중 검색결과)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "_MENU_ 개씩 보기",
      "loadingRecords": "로딩중...",
      "processing": "처리중...",
      "search": "검색 : ",
      "zeroRecords": "검색된 데이터가 없습니다.",
      "paginate": {
        "first": "첫 페이지",
        "last": "마지막 페이지",
        "next": "다음",
        "previous": "이전"
      },
      "aria": {
        "sortAscending": " : 오름차순 정렬",
        "sortDescending": " : 내림차순 정렬"
      }
    };
    const DELIVERY_STR = ["", "배송준비중", "배송보류", "배송대기", "배송중", "배송완료"];
    searchList();

    $('#reset').on('click', function(){
        $('#search-value').val('');
        $('#product-none').prop('checked', true);
        $('#before-date').val('');
        $('#after-date').val('');
        $('#pay-none').prop('checked', true);
      searchList();
    });

    $('#search').on('click', function(){
      searchList();
    });

    $(document).on('click', '.btn-delivery', function(){
      var id = $(this).val();
      var v = $('#select-delivery-' + id + ' option:selected').val();
      $.ajax({
        url: './order/change-delivery-state',
        type: 'post',
        data: {
          id: id,
          state: v
        },
        success : function(){alert('배송상태를 변경하였습니다.');}
      });
    });

    $(document).on('click', '.btn-way-bill', function(){
      var id = $(this).val();
      var v = $('#way-bill-' + id).val();
      $.ajax({
        url: './order/change-way-bill-number',
        type: 'post',
        data: {
          id: id,
          wayBillNumber: v
        },
        success : function(){alert('운송장번호를 저장하였습니다.');}
      });
    });

    function searchList() {
      $("#ordertable").DataTable({
        destroy:true,
        searching:false,
        lengthChange: false,
        order: [0, "desc"],
        language: lang_kor,
        pageLength : 200,
        ajax:{
          url:"./orders",
          type :"GET",
          data: {
            searchKey: $('#search-type').val(),
            searchValue: $('#search-value').val(),
            product: $('input[name="product"]:checked').val(),
            beforeDateString: $('#before-date').val(),
            afterDateString: $('#after-date').val(),
            payState: $('input[name="pay"]:checked').val()
          },
          dataSrc: ''
        },
        columns:[
          //{data:"ids", defaultContent: ""},
          {data:"id"},
          {data:"nickname"},
          {data:"product"},
          {
            data:"waybillNumber",
            render: function(data, type, row, a) {
              if (!data) data = "";
              return '<input type="text" id="way-bill-' + row.id + '" value="' + data + '" placeholder="운송장번호 입력" maxlength="15">' +
                '<button class="btn-way-bill" value="' + row.id + '">저장</button>' ;
            }
          },
          {
            data:"deliveryState",
            render: function(data, type, row, a) {
                var html = '<select id="select-delivery-' + row.id + '">';
              for (var i = 1; i < DELIVERY_STR.length; i++) {
                html += (data == i) ? '<option value="' + i + '" selected>' + DELIVERY_STR[i] + '</option>' : '<option value="' + i + '">' + DELIVERY_STR[i] + '</option>';
              }
              html +='</select><button class="btn-delivery" value="' + row.id + '">변경</button>' ;
              return html;
            }
          }
        ]
      });
    }
  });
</script>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>